*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: auto;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    min-width: 300px;
    width: 25%;
    height: 75px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card2{
    min-width: 300px;
    width: 35%;
    height: 75px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card3{
    height: 70px;
    /* border: 2px solid red; */
    font-size: 1.5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card2 ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1vw;
}
.card2 li {
    transition: .2s;
}
.card2 li:hover{
    color: #60B021;
    border-bottom: 2px solid #60B021;
    cursor: pointer;
    margin-top: -2px;
}
.card2 ul li a{
    text-decoration: none;
    color: black;
    transition: .2s;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card2 a:hover{
    color: #60B021;
}
.w:hover{
    color: #60B021;
    border-bottom: 2px solid #60B021;
    padding-bottom: 5px;
}
.w{
    height: 100%;
    width: 60px;
    border-left: 1px solid rgba(128, 128, 128, 0.367);
    padding-top: 24px;
    padding-left: 20px;
    transition: .3s;
}
.sayt{
    width: 100%;
    height: 600px;
    /* border: 2px solid black; */
    background-image: url(../img/header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sayt_center{
    width: 100%;
    height: 130px;
    border: 2px solid black;
    background-color: #F5F5F5;
}
.sayt img{
    margin-left: 105px;
    margin-top: 490px;
    position: absolute;
}
.sayt_p{
    font-size: 2.5vw;
    width: 18.5%;
    background-color: #FFF;
    margin-left: 135px;
    margin-top: 400px;
    position: absolute;
}
.sayt_p2{
    font-size: 2.5vw;
    width: 11.5%;
    background-color: #FFF;
    margin-left: 135px;
    margin-top: 440px;
    position: absolute;
}
.sayt_p3{
    font-size: 2.5vw;
    width: 20.5%;
    background-color: #FFF;
    margin-left: 135px;
    margin-top: 480px;
    position: absolute;
}
.sayt_img{
    color: #8EE901;
}