* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: auto;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFF;
}

.card {
    min-width: 300px;
    width: 25%;
    height: 75px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card2 {
    min-width: 300px;
    width: 35%;
    height: 75px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card3 {
    height: 70px;
    /* border: 2px solid red; */
    font-size: 1.5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card2 ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1vw;
}

.card2 li {
    transition: .2s;
}

.card2 li:hover {

}

.card2 ul li a {
    text-decoration: none;
    color: black;
    transition: .2s;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card2 a:hover {
    color: #60B021;
    border-bottom: 2px solid #60B021;
    cursor: pointer;
    margin-top: -2px;
}

.w:hover {
    color: #60B021;
    border-bottom: 2px solid #60B021;
    padding-bottom: 5px;
}

.w {
    height: 100%;
    width: 60px;
    border-left: 1px solid rgba(128, 128, 128, 0.367);
    padding-top: 24px;
    padding-left: 20px;
    transition: .3s;
}

.sayt {
    width: 100%;
    height: 600px;
    /* border: 2px solid black; */
    background-image: url(../img/header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sayt img {
    margin-left: 105px;
    margin-top: 490px;
    position: absolute;
}

.sayt_p {
    font-size: 2.5vw;
    width: 18.5%;
    background-color: #FFF;
    margin-left: 135px;
    margin-top: 400px;
    position: absolute;
}

.sayt_p2 {
    font-size: 2.5vw;
    width: 11.5%;
    background-color: #FFF;
    margin-left: 135px;
    margin-top: 440px;
    position: absolute;
}

.sayt_p3 {
    font-size: 2.5vw;
    width: 20.5%;
    background-color: #FFF;
    margin-left: 135px;
    margin-top: 480px;
    position: absolute;
}

.sayt_img {
    color: #8EE901;
}

.sayt_center {
    width: 100%;
    height: 130px;
    /* border: 2px solid black; */
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.saytcen {
    width: 18%;
    height: 90px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.saytcen a {
    text-decoration: none;
    color: black;
}

.popular_product {
    width: 100%;
    height: 100px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.popular_product p {
    font-size: 2vw;
    color: black;
    margin-top: 50px;
    background-color: #FFF;
}

.popular_spam {
    color: #60B021;
}

.products {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2pxs solid black;
}

.mini_product {
    width: 80%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid red; */
    flex-wrap: wrap;
}

.product {
    width: 300px;
    height: 340px;
    border: 2px solid rgba(0, 0, 0, 0.109);
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.6vw;
}
.v{
    position: absolute;
    margin-left: 260px;
    margin-top: 5px;
}
.v2{
    position: absolute;
    margin-left: 260px;
    margin-top: 40px;
}
.product_img {
    width: 280px;
    height: 150px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
}

.product_img img {
    height: 140px;
}

.product_name {
    width: 280px;
    height: 60px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product_span {
    opacity: 0.5;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.product_s {
    width: 300px;
    height: 60px;
    border: 2px solid rgba(0, 0, 0, 0.109);
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product_p {
    width: 100%;
    font-size: 1.2vw;
    border-left: 1px solid rgba(128, 128, 128, 0.367);
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.product_p1 {
    width: 100%;
    font-size: 1.2vw;
    /* border-left: 1px solid rgba(128, 128, 128, 0.367); */
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.product_spam {
    opacity: 0.5;
    display: flex;
    justify-content: space-evenly;
    font-size: 1vw;
}

.product_btn {
    width: 280px;
    height: 60px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product_btn1 {
    width: 120px;
    height: 25px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.582);
    border-radius: 100px;
    border: none;
}
.product_btn1 a{
    text-decoration: none;
    color: black;
}
.product_btn2 {
    width: 120px;
    height: 25px;
    background: #8EE902;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.582);
    border-radius: 100px;
    border: none;
}
.product_btn2 a{
    text-decoration: none;
    color: white;
}